#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

li {
	list-style: none;
}

.app-container {
	display: flex;
	justify-content: space-between;
	width: 50vw;
	height: 60vh;
	border: 1px solid black;
	border-radius: 50px;
	padding: 40px;
	background-color: white;
}

.calendar header {
	background-color: #323639;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	padding: 20px;
	color: white;
}

.calendar header h1 {
	font-size: inherit;
	margin: 0;
}

.calendar__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-end;
	margin: 10px 0;
	padding: 10px;
}

.calendar__container__add {
	display: 'none'
}

.calendar__container > * > * {
	margin: 10px;
}

.calendar__container__content {
	display: flex;
	max-width: 100%;
	flex-basis: 420px;
	flex-direction: column;
	flex-grow: 100;
	align-items: stretch;
	padding-top: 1em;
}

.calendar__container__content .react-calendar {
	margin: 0 auto;
	border-radius: 5px;
}

.events-list-container {
	display: flex;
	flex-direction: column;
}

.logo-container {
	display: flex;
	justify-content: center;
}

.list-events-container {
	display: flex;
	margin-top: 30px;
}

.model-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0%, -50%);
	width: 20vw;
	max-height: 70vh;
	background-color: white;
	border: 2px solid #000;
	box-shadow: 24;
	border-radius: 10px;
}

.MuiDialogActions-root .MuiDialogActions-spacing .MuiPickersLayout-actionBar .css-hlj6pa-MuiDialogActions-root {
	display: none
}

.modal-header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid black;
}

.modal-body {
	margin: 30px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.modal-body > .data-pickers {
	display: flex;
	align-items: center;
}

.close {
	border: none;
	background: none;
	font-size: 15px;
	cursor: pointer;
}

@media (max-width: 760px) {
	/* For Mobile */

	.app-container {
		display: block;
	}

	.calendar__container__content {
		flex-direction: unset;
		max-width: 50vw;
	}

	.calendar__container__add {
		display: 'block'
	}

	.model-dialog {
		max-width: 80vw;
	}
}

@media (min-width: 761px) and (max-width: 1200px) {
	/* For tablet */
}
